@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');
#ok {
    font-family: 'Source Sans Pro', sans-serif;
     z-index: 5;
     position: absolute;
     text-align: center;
     margin-top: 300px;
     margin-left: 640px;
     font-size: 40px;
     font-weight: bold;
     float: right;
    color: green;
}
    #locatie{
         width: 200px;
         height: 100px;
     font-family: 'Source Sans Pro', sans-serif;
    color: white;
     z-index: 5;
     position: absolute;
     margin-top: 400px;
     margin-left: 1000px;
     font-size: 16px;
     line-height: 25px;
     float: right;
      font-weight: lighter;
      }
#map
{
    width: 300px;
    height: 200px;
    position: absolute;
    margin-top: 460px;
    margin-left: 1000px;
    z-index: 7;
}
#fb
{
    width: 30px;
    height: 30px;
    margin-right: 30px;
    margin-left: 88%;
    margin-top: 15px;
    position: absolute;
    z-index: 4;
}

#twitter
{
    width: 30px;
    height: 30px;
    margin-right: 30px;
    margin-left: 85%;
    margin-top: 15px;
    position: absolute;
    z-index: 4;
}
#credits
{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
     z-index: 6;
     font-size: 9pt;
     position: absolute;
     margin-left: 45%;
     margin-top: 720px;
     text-align: center;
      opacity: 0.7;

}
#contact {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
     z-index: 5;
     position: absolute;
     margin-top: 90px;
     margin-left: 540px;
     font-size: 14px;
     line-height: 1px;
     font-weight: bold;
     float: right;
}
     #contact2 {
         width: 650px;
         height: 450px;
     font-family: 'Source Sans Pro', sans-serif;
    color: white;
     z-index: 5;
     position: absolute;
     margin-top: 120px;
     margin-left: 540px;
     font-size: 16px;
     line-height: 25px;
     float: right;
      font-weight: lighter;
}
#rectangle{
    width:99.2%;
    height:80px;
    background:#ffe631;
    z-index: 2;
    position: absolute;
    margin-top: -10px;
    
}
    
#logo
{
    width: 190px;
    height: 80px;
    float: left;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    z-index: 3;
}
#camera
{
    width:520px;
    height:650px;
    float:left;
    position: absolute;
    z-index: 1;
    margin-left: -10px;
    margin-top: 60px;
}
.nav {
  width: 615px;
  background: #ffe631;
  float:left;
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  margin-top: 10px;
  margin-left: 50px;
    z-index: 3;
}
.nav > ul {
  list-style: none;
  margin:0;
  padding:0;
}
.nav_item-link{
    width: 80px;
    height: 25px;
  display: block;
  font-size: 20px;
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  float: right;
}
.nav_item-link:hover {
  color: #ffe631;
  background: black;
}
.nav_item-link_active {
  color: white;
  background: black;
}
.clearfix {
  overflow:auto;
}

#rectangle2{
    width:99%;
    height:80px;
    background:#141414;
    z-index: 5;
    position: absolute;
    margin-top: 700px;
    margin-left: -20px;
}

body{
    background:black;
}